<head>
    <div class="container-fluid text-end">
        <b>Logado como: {{session.name}}</b>
    </div>
    <input type="text" id="sheetId" value="{{sheet.id}}" hidden></p>
    <hr class="border border-1 opacity-75">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <style>
        .progress-bar-hp {
            background-color: #00ff77;
        }
        .btn-hp {
            background-color: #00ff77;
        }
        .progress-bar-mp {
            background-color: fuchsia;
        }
        .btn-mp {
            background-color: fuchsia;
        }
        .calc {
            width: 100px;
        }
        input[type='number'] {
            width: 100px;
        }
        .row {
            margin-bottom: 5px;
        }
        @media {
            .col-sm-1 {
                max-width: 125px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                {{!-- Nome e Nível --}}
                <div class="row">
                    <div class="col text-start">
                        <h4>{{sheet.name}}</h4>
                    </div>
                    <div class="col text-end">
                        <b>Nível:</b>&nbsp;{{sheet.level}}
                    </div>
                </div>
                {{!-- PVs --}}
                <div class="row align-items-center">
                    <div class="col">
                        <div class="row">
                            <div class="col text-start">
                                <b>Pontos de Vida</b>
                            </div>
                            <div class="col-sm-2 text-end">
                                <div class="hp"></div>
                            </div>
                        </div>
                        {{!-- Progress-Bar --}}
                        <div class="row">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-hp" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="{{status.max_hp}}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Calcula PV --}}
                    <div class="col-sm-1 text-end">
                        <input id="hp-value" class="calc" type="number" name="hp" value="0">
                        <button id="calc-hp" class="btn btn-hp calc"><b>Calcular</b></button>
                    </div>
                </div>
                <script>
                    $(document).ready(() => {
                        loadHP()
                        loadMP()
                    })
                    function loadHP() {
                        $.ajax({
                            type: "POST",
                            dataType: "JSON",
                            url: "/loadStatus",
                            data: {id: '{{sheet.id}}'},
                            success: (data) => {
                                var html = ''
                                const current_hp = data.data.current_hp

                                html = '<div>'+ current_hp +' / '+ {{status.max_hp}} +'</div>'

                                $('.progress-bar-hp').css('width', ((current_hp/{{status.max_hp}})*100)+'%').attr('aria-valuenow', current_hp);


                                $('div.hp').html(html)
                            }
                        })
                    }

                    function editHP(value) {
                        $.ajax({
                            type: 'PUT',
                            dataType: 'JSON',
                            url: '/editHP',
                            data: {id: '{{sheet.id}}', value: value},
                            success: (data) => {
                                console.log(data.data)
                                loadHP()
                            }
                        })
                    }

                    $("#calc-hp").click(() => {
                        editHP($("#hp-value").val())
                        document.getElementById('hp-value').value = '0'
                    })

                </script>
                {{!-- PMs --}}
                <div class="row align-items-center">
                    <div class="col">
                        <div class="row">
                            <div class="col text-start">
                                <b>Pontos de Mana</b>
                            </div>
                            <div class="col-sm-2 text-end">
                                <div class="mp"></div>
                            </div>
                        </div>
                        {{!-- Progress-Bar --}}
                        <div class="row">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-mp" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="{{status.max_mp}}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Calcula PM --}}
                    <div class="col-sm-1 text-end">
                        <input id="mp-value" class="calc" type="number" name="mp" value="0">
                        <button id="calc-mp" class="btn btn-mp calc"><b>Clacular</b></button>
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        loadMP()
                    })
                    function loadMP() {
                        $.ajax({
                            type: "POST",
                            dataType: "JSON",
                            url: "/loadStatus",
                            data: {id: '{{sheet.id}}'},
                            success: function (data) {
                                var html = ''
                                const current_mp = data.data.current_mp

                                html = '<div>'+ current_mp +' / '+ {{status.max_mp}} +'</div>'

                                $('.progress-bar-mp').css('width', ((current_mp/{{status.max_mp}})*100)+'%').attr('aria-valuenow', current_mp);

                                $('div.mp').html(html)
                            }
                        })
                    }

                    function editMP(value) {
                        $.ajax({
                            type: 'PUT',
                            dataType: 'JSON',
                            url: '/editMP',
                            data: {id: '{{sheet.id}}', value: value},
                            success: (data) => {
                                console.log(data.data)
                                loadMP()
                            }
                        })
                    }

                    $("#calc-mp").click(() => {
                        editMP($("#mp-value").val())
                        document.getElementById("mp-value").value = '0'
                    })
                </script>
                {{!-- CD de Class & Percepção --}}
                <div class="row text-center">
                    <div class="col">
                        <b>CD de Classe</b>
                        <p>{{status.class_cd}}</p>
                    </div>
                    <div class="col">
                        <b>Percepção</b>
                        <p>{{status.perception}}</p>
                    </div>
                </div>
            <div>
            <div class="col">
                <div class="row">
                    <b>Informações</b>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            {{!-- Status --}}
            <div class="col-4">
                {{!-- Pontos de Vida e Pontos de Mana --}}
                <div class="row">
                    <div id="result" class="col-4">
                        <b>Pontos de Vida</b><br>
                    </div>
                    <div id="result" class="col-4">
                        <b>Pontos de Mana</b><br>
                        <input id="mp-value" type="number" name="mp" placeholder="0">
                        <button id="calc-mp">Calcular</button>
                        <div class="mp"></div>

                    </div>
                </div>
                {{!-- Tamanho e Alcance --}}
                <div class="row">
                    <div class="col-4">
                        <b>Tamanho</b><br>
                        <div>{{status.size}}</div>
                    </div>
                    <div class="col-4">
                        <b>Alcance</b>
                        <div>{{status.reach}}</div>
                    </div>
                </div>
                <b>Velocidades</b>
                <div class="row">
                    <div class="col-4">
                        <div>Em Terra:&nbsp;{{status.land_speed}}</div>
                        <div>Escalada:&nbsp;{{status.climb_speed}}</div>
                    </div>
                    <div class="col-4">
                        <div>Natação:&nbsp;{{status.swim_speed}}</div>
                        <div>Voo:&nbsp;{{status.fly_speed}}</div>
                    </div>
                </div>
                {{!-- CD de Classe, Sobrecarga e Percepção --}}
                <div class="row">
                    <div class="col-4">
                        <b>CD de Classe</b>
                        <div>{{status.class_cd}}</div>
                    </div>
                    <div class="col-4">
                        <b>Sobrecarga</b>
                        <div>{{status.overload}}</div>
                    </div>
                    <div class="col-4">
                        <b>Percepção</b>
                        <div>{{status.perception}}</div>
                    </div>
                </div>
                {{!-- Defesa --}}
                <div class="row">
                    <div class="col-4">
                        <b>Defesa</b>
                        <div>{{status.defense}}</div>
                    </div>
                    <div class="col-4">
                        <b>Bônus de Defesa</b>
                        <div>{{status.defense_bonus}}</div>
                    </div>
                </div>
                {{!-- Atributos --}}
                <div class="row">
                    <div class="col-2">
                        <b>FOR</b>
                        <div>{{status.str}}</div>
                    </div>
                    <div class="col-2">
                        <b>DES</b>
                        <div>{{status.dex}}</div>
                    </div>
                    <div class="col-2">
                        <b>CON</b>
                        <div>{{status.con}}</div>
                    </div>
                    <div class="col-2">
                        <b>INT</b>
                        <div>{{status.int}}</div>
                    </div>
                    <div class="col-2">
                        <b>SAB</b>
                        <div>{{status.wis}}</div>
                    </div>
                    <div class="col-2">
                        <b>CAR</b>
                        <div>{{status.cha}}</div>
                    </div>
                </div>
                {{!-- Salvamentos --}}
                <div class="row">
                    <div class="col-4">
                        <b>Fortitude</b>
                        <div>{{status.fortitude}}</div>
                    </div>
                    <div class="col-4">
                        <b>Reflexos</b>
                        <div>{{status.reflex}}</div>
                    </div>
                    <div class="col-4">
                        <b>Vontade</b>
                        <div>{{status.will}}</div>
                    </div>
                </div>
                <br>
            </div>
            {{!-- Sheet --}}
            <div class="col-4">
                <b>Nome:&nbsp;</b>
                <div>{{sheet.name}}</div>
                <br>
                <b>Clã:&nbsp;</b>
                <div>{{sheet.clan}}</div>
                <br>
                <b>Origem:&nbsp;</b>
                <div>{{sheet.origin}}</div>
                <br>
                <b>Aspecto:&nbsp;</b>
                <div>{{sheet.aspect}}</div>
                <br>
                <b>Classe:&nbsp;</b>
                <div>{{sheet.class}}</div>
                <br>
                <b>Nível:&nbsp;</b>
                <div>{{sheet.level}}</div>
                <br>
                <b>Idiomas:&nbsp;</b>
                <div>{{sheet.language}}</div>
                <br>
                <b>Descrição:&nbsp;</b>
                <div>{{sheet.description}}</div>
                <br>
                <b>Anotações:&nbsp;</b>
                <div>{{sheet.notes}}</div>
                <br>
                <button id="form-sheet" class="open-button" onclick="openForm()">Open Form</button>

                <div id="myForm" class="form-popup">
                    <form id="form-edit" class="form-container" action="/minha-ficha/{{sheet.id}}?_method=PUT" method="POST">
                        <h1>Geral</h1>

                        <label for="name"><b>Nome</b></label>
                        <input type="text" value="{{sheet.name}}" name="name" required disabled>

                        <label for="clan"><b>Clã</b></label>
                        <input type="text" value="{{sheet.clan}}" name="clan" required disabled>

                        <label for="origin"><b>Origem</b></label>
                        <input type="text" value="{{sheet.origin}}" name="origin" required disabled>

                        <label for="aspect"><b>Aspect</b></label><br>
                        <input type="text" value="{{sheet.aspect}}" name="aspect" required disabled>

                        <label for="class"><b>Classe</b></label>
                        <input type="text" value="{{sheet.class}}" name="class" required disabled>

                        <label for="level"><b>Nível</b></label><br>
                        <input type="number" value="{{sheet.level}}" name="level" required disabled>
                        <br>
                        <label for="language"><b>Idiomas</b></label>
                        <input type="text" value="{{sheet.language}}" name="language" required disabled>

                        <label for="description"><b>Descrição</b></label>
                        <input type="text" value="{{sheet.description}}" name="description" disabled>

                        <label for="notes"><b>Anotações</b></label>
                        <input type="text" placeholder="Anotações..." value="{{sheet.notes}}" name="notes" disabled>

                        <button id="save-sheet" type="submit" class="btn" disabled>Salvar</button>
                        <button id="close-sheet" type="button" class="btn cancel" onclick="closeForm()" disabled>Cancelar</button>
                    </form>
                </div>
                <script>
                    function openForm() {
                        document.getElementById("myForm").style.display = "block";
                    }

                    function closeForm() {
                        document.getElementById("myForm").style.display = "none";
                    }

                    var form = document.forms[0],
                    btn1 = document.getElementById('form-sheet'),
                    btn2 = document.getElementById('close-sheet')

                    btn1.addEventListener('click', lockForm)
                    btn2.addEventListener('click', lockForm)

                    function lockForm(){
                        btn1.classList.toggle('on');
                        [].slice.call( form.elements ).forEach(function(item){
                            item.disabled = !item.disabled;
                        });
                    }
                </script>
            </div>
        </div>
    </div>
</body>